@import "./helpers/vars";
html:lang(fa) {
  font: 16px/25px "IRANYekan";
  color: #333;
  body {
    * {
      font-family: IRANYekan;
    }

    // main header
    .main-header {
      width: 100%;
      height: 70px;
      background: $white;
      box-shadow: 0 3px 14px 0 #56565612;
      border-bottom: 1px solid #ebebeb;
      position: fixed;
      top: 0;
      z-index: 10;
      padding: 10px;
      display: flex;
      align-items: center;
      .logo {
        margin-right: 0;
        width: 170px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
          display: block;
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }
      .menu-bottun {
        cursor: pointer;
        margin-right: 102px;
        font-size: 31px;
        color: $black;
      }
      .profile-info {
        cursor: pointer;
        margin-left: 10px;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row-reverse;
        .avatar {
          width: 50px;
          height: 50px;
          border-radius: 100px;
          overflow: hidden;
          border: solid 1px #ebebeb;
          margin-right: 15px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .nickname {
          font-size: 13px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 30px;
          letter-spacing: normal;
          text-align: right;
          color: $black;
          @include textOverflow(auto);
          max-width: 150px;
        }
      }
    }
    // end main header

    // wrapper
    .wrapper {
      margin-top: 70px;
      background: $pale-grey;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      position: relative;
      padding-right: 320px;

      @import "./partials/main-sidebar";

      .container {
        width: 100%;
        min-height: calc(100vh - 70px);
        background-color: $pale-grey;

        @import "./partials/breadcrumb";

        .sections-wrapper {
          width: 100%;
          padding: 30px;

          @import "./partials/section";
        }
      }
    }
  }
}
