$white: #ffffff;
$pale-grey: #faf8fa;
$black: #1e1e1e;
$blurple: #4b2cb1;
$iris: #654bbc;
$faded-green: #7cbd7f;
$red-pink: #f13669;
$apricot: #ffa665;
$white-two: #dcdcdc;
$pinkish-grey: #d1d1d1;
$greyish-brown: #4d4d4d;
$white-three: #fdfdfd;
$black-two: #000000;
$pinkish-red: #ef134f;