$white: #ffffff;
$pale-grey: #faf8fa;
$black: #141414;
$windows-blue: #435fc7;
$black-two: #000000;
$boring-green: #65b269;
$pinkish-red: #ef134f;
$black-three: #1e1e1e;
$pastel-orange: #ff974a;
$white-three: #dcdcdc;
$white-four: #f4f4f4;
$royal-purple: #4f005e;
$greyish-brown: #434343;
$white-two: #fdfdfd;
$pinkish-grey: #d1d1d1;